.mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: auto;
    width: 100%;
    padding: 10px;
}

.welcome_img {
    display: flex;
    justify-content: center;
    align-content: center;
}

.welcome_img img {
    width: 100%;
    max-width: 18rem;
    height: 18rem;
    border-radius: 20px;
}

.welcome_text {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.welcome_text h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #12AA04;
}

.welcome_text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.submit_btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 320px;
    gap: 15px;
}

input {
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
    flex: 1;
    border: 2px solid transparent;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.3s ease, border 0.3s ease; /* Smooth transition */
}

.loginBtn {
    background: #DE8500;
}

.registerBtn {
    background-color: #12AA04;
}

/* Hover Effects */
.loginBtn:hover {
    background: #C97900;
    transform: translateY(-2px); 
    border: 2px solid #FFD600;
}

.registerBtn:hover {
    background-color: #109A03;
    transform: translateY(-2px);
    border: 2px solid #A2D600; 
}

@media (max-width: 768px) {
    .welcome_text h2 {
        font-size: 20px;
    }

    .welcome_text p {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .welcome_text h2 {
        font-size: 18px;
    }

    .welcome_text p {
        font-size: 10px;
    }

    .submit_btn {
        flex-direction: column;
    }
}
