<app-header> </app-header>
<div class="mainBlock">
    <div class="row">
        <div class="col-12 welcome_img">
            <img src="assets/welcome_image.png">
        </div>
        <div class="col-12 welcome_text">
            <h2>Discover Your <br>
                Dream here</h2>
            <p> Explore all the existing job roles based on  <br>
                &nbsp; &nbsp; &nbsp; your interest and study major</p>
        </div>
    </div>
    <div class="row submit_btn justify-content-center">
        <input type="submit" value="Login" routerLink="/login" class="loginBtn">
        <input type="submit" value="Register" routerLink="/register" class="registerBtn">
    </div>
</div>

<router-outlet></router-outlet>