.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit h4{
    margin-top: -30px;
}

.edit img{
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-top: 1rem;
    outline: 1px solid #12AA04;
}

.edit i{
    border: 1px solid black;
    padding: 6px;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 37rem;
}

form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileForm{
    z-index: 2;
}

.profileForm input,
select {
    width: 100%;
    outline: 1px solid #12AA04;
    border: none;
    margin-top: 4px;
    border-radius: 7px;
    padding: 6px;
    display: flex;
    flex-direction: column;
}

.profileForm label {
    font-weight: 450;
}

input[type="submit"] {
    background-color: #DE8500;
    color: white;
    font-weight: 600;
    outline: none !important;
    width: 100% !important;
    font-size: 15px;
    margin-top: 30px !important;
    text-align: center;
}

.alert-success{
    font-size: 12px;
    width: 100%;
    max-width: 300px;
    margin-left: 15px;
    margin-top: 20px;
    white-space: nowrap; 
    display: inline-block;
}

.alert-success .close {
    padding: 0.1rem 0.1rem; 
    height: 22px;
}

.alert-success .close span {
    margin-left: 0.1rem;
}

label{
    margin-bottom: 10px;
    margin-top: 10px;
}