<app-dashboard-header></app-dashboard-header>
<div class="wrapper mt-5">
    <div class="input-box">
      <input id="create_pw" [(ngModel)]="password" type="password" required>
      <label>Create password</label>
    </div>
    <div class="input-box">
      <input id="confirm_pw" [(ngModel)]="new_password" type="password" required>
      <label>Confirm password</label>
    </div>
    <div class="alert">
      <i class="fas fa-exclamation-circle error"></i>
      <span class="text">Enter at least 8 characters</span>
    </div>
    <div class="input-box button">
      <input id="button" (click)="change()" type="button" value="CHECK">
    </div>
</div>