* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.loginBlock {
    padding: 10px;
}

.loginBlockForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.welcome_text {
    text-align: center;
    margin-bottom: 20px;
}

.welcome_text h2 {
    font-weight: 600;
    font-size: 30px;
    color: #12AA04;
}

.welcome_text p {
    font-size: 14px;
    font-weight: 400;
}

.form {
    width: 100%;
    max-width: 600px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form_div {
    width: 100%;
    margin-bottom: 15px;
}

.form_div input,
.form_div select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: #F1F4FF;
    transition: border-color 0.3s;
}

.form_div input:focus,
.form_div select:focus {
    border-color: #12AA04;
    outline: none;
}

.textDanger {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
}

input[type="submit"] {
    background: #DE8500;
    color: white;
    padding: 12px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

input[type="submit"]:hover {
    background: #c87a00;
}

.create {
    text-align: center;
    font-size: 0.9rem;
    color: #12AA04;
    cursor: pointer;
}

.alert {
    margin: 0 auto;
    padding: 10px;
    width: 30rem;
    font-size: .8rem;
}

.alert button {
    border-radius: 50%;
    margin-left: 10rem;
    width: 1.3rem;
}

label {
    padding: 6px;
}